{% extends 'base.html.twig' %}

{% block title %}Modifier un Article{% endblock %}

{% block main %}

<div class="row mt-5 text-center">
    <h1>
        Modifier un article
    </h1>    
</div>

<div class="row mt-3">
   <div class="col-8 offset-2">
        {{ form_start(articleForm) }}

        {{ form_widget(articleForm) }}

        <button type="submit" class="btn btn-primary">Modifier</button>

        {{ form_end(articleForm) }}
   </div>
</div>

{% endblock %}
